asgiref==3.11.0
Babel==2.14.0
currency.converter==0.5.5
CurrencyConverter==0.18.14
Django==6.0.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
inflection==0.5.1
loguru==0.7.3
pycountry==22.3.5
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
uritemplate==4.2.0
